.NavItems {
  display: none;
}

.NavItems span {
  color: #fff;
}

/* TABLET */
@media (min-width: 600px) {
  .NavItems {
    background-color: #1a1d24;
    padding: 0 2.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
  }
}

/* DESKTOP */
@media (min-width: 800px) {
  .NavItems {
    background-color: none;
    background-image: linear-gradient(
      to left,
      rgba(168, 168, 168, 0.1),
      rgba(168, 168, 168, 0.3)
    );
    backdrop-filter: blur(1rem);
  }
}
