.NavToggle {
  display: flex;
}

.NavToggleBtn {
  all: unset;
  color: #fff;

  position: relative;
  z-index: 99;
}

.BtnHidden {
  display: none;
}

/* TABLET */
@media (min-width: 600px) {
  .NavToggle {
    display: none;
  }
}
