.NavItem {
  list-style: none;
}

.NavItemLink:link,
.NavItemLink:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #d3d3d3;
  padding: 3.7rem 0;

  display: flex;
  gap: 1rem;
}

.Active {
  border-bottom: 2px solid #fff;
}

/* TABLET */
@media (min-width: 600px) {
  .NavItemLink:link,
  .NavItemLink:visited {
    font-size: 1.6rem;
  }
}
