.Modal {
  background-image: linear-gradient(
    rgba(168, 168, 168, 0.6),
    rgba(161, 161, 161, 0.4)
  );
  backdrop-filter: blur(1rem);
  width: 70%;
  height: 100%;

  position: fixed;
  top: 0%;
  right: 0%;

  /* TEMP */
  display: flex;
  justify-content: center;
  align-items: center;
}
